
 $black : #090909;
$greye : #4b5043;
$blue : #9bc4bc;
$azzure :#d3ffe9;
$white : #f1fbfc;

.size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px 4px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.size span:hover{
  background: $black;
  color: white;
}

.mybutton, .myfav { 
     background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
color: $black;
} 

.mybutton:hover{
   background-color: $black;  
color: $white ;
}

.myfav:checked,.myfav:hover {
    color:#cd0000 ;
       background-color: transparent; 

}

.rotatebutton{
  transform: rotate(90deg);
  position: absolute;
  top: 40%;
    left: -30%;
         background-color: transparent; 
           border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
color: $black;
   width:489px;
   opacity:50%;
   font-size: 900px;
:hover{
    background-color: $black;  
color: $white ;
}
}


.buttontag{
  clip-path: polygon(0% 0%, 100% 14%, 100% 75%, 69% 75%, 43% 100%, 50% 75%, 0% 75%);
  height: 60px;
  font-size: 0.8rem;
  font-weight: bold;
  background-color:$black ;
    color: $blue;
  
}
.buttontag:hover{
    background-color:$azzure !important ;
    color: $black !important ;
  }

  .buttoninvisibile{
    display: none;
    border: #090909;
  }

  .imgcart{
    height: 100px;
  }
  .imgslider{
  height: 200px;
  }
  .widbutt{
    width: 15px;
  }

  .dimensioni{
    height: 60px;
    width: 100px;
    top: 312px;
  }
  .pdimensione{
    top: 302px;
  }
  .path{
    content: "";
clip-path: polygon(48% 14%, 39% 41%, 100% 41%, 100% 61%, 38% 60%, 46% 87%, 0% 50%); 
transform: 
    -webkit-animation-name: prop-600;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes prop-600 {
    0% {
        -webkit-transform: translateX(0px);
    }
    50%{ -webkit-transform: translateX(-100px);
    }
    100% {
         -webkit-transform: translateX(0px)
    }
}