
 $black : #090909;
$greye : #4b5043;
$blue : #9bc4bc;
$azzure :#d3ffe9;
$white : #f1fbfc;
 
.mycontainer .mycard{
  position: relative;
  width: 320px;
  height: 450px;
  background:$greye;
  border-radius: 20px;
  overflow: hidden;
}

.mycontainer .mycard:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.mycontainer .mycard:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.mycontainer .mycard:after{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.mycontainer .mycard .myimgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.mycontainer .mycard:hover .myimgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.mycontainer .mycard .myimgBx .myimg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.mycontainer .mycard .mycontentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.mycontainer .mycard:hover .mycontentBx{
  height: 210px;
}

.mycontainer .mycard .mycontentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.mycontainer .mycard .mycontentBx .size, .mycontainer .mycard .mycontentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.mycontainer .mycard:hover .mycontentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.mycontainer .mycard:hover .mycontentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.mycontainer .mycard .mycontentBx .size h3, .mycontainer .mycard .mycontentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.mycontainer .mycard .mycontentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.mycontainer .mycard .mycontentBx .size span:hover, .mycontainer .mycard:hover .mycontentBx a:hover{
  background: $black;
  color: white;
}

.mycontainer .mycard .mycontentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.mycontainer .mycard .mycontentBx .color span:nth-child(2){
  background: #9bdc28;
}

.mycontainer .mycard .mycontentBx .color span:nth-child(3){
  background: #03a9f4;
}

.mycontainer .mycard .mycontentBx .color span:nth-child(4){
  background: #e91e63;
}

.mycontainer .mycard .mycontentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.mycontainer .mycard:hover .mycontentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}