
 $black : #090909;
$greye : #4b5043;
$blue : #9bc4bc;
$azzure :#d3ffe9;
$white : #f1fbfc;
$shop :#F6F6F6;

 
.myBgShop{
   background-color: $shop;
}

.myBluBg {
  background-color: $blue;
}

.myTextAzzure {
  color: $azzure;
}


.myAzzureBg {
  background-color: $azzure;
}

.myTextBlu {
  color: $blue;
}

.myBlackBg {
  background-color: $black !important;
}
.myTextBlack{
  color: $black
}

.myWhiteBg {
  background-color: $white !important;
}

.myTextWhite {
  color:white;
}

